<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ titulo }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    {% include 'navbar.html' %}

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Estacionamentos</h1>
                <p>Controle de estacionamento mensalista e rotativo.</p>
                <p><a class="btn btn-primary btn-lg" href="/admin" role="button">Acessar Área Administrativa &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Estacionamento Mensalista</h2>
                    <p>Sistema de estacionamento para mensalistas </p>
                    <p><a class="btn btn-secondary" href="/admin/estacionamento/movmensalista" role="button">Acessar &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Estacionamento Rotativo</h2>
                    <p>Sistema para estacionamento rotativo. </p>
                    <p><a class="btn btn-secondary" href="/admin/estacionamento/movrotativo" role="button">Acessar &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Contratar Sistema</h2>
                    <p>Opção para donos de estacionamentos.</p>
                    <p><a class="btn btn-secondary" href="contato/" role="button">Contratar &raquo;</a></p>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>

    <footer class="container">
        <p>&copy; Estacionamento 2020</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
</body>

</html>